{% extends 'base.html' %}
{% block body %}
{% load static %}

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<form action="{% url 'payment' %}" method="POST" id="newform" class="post-form">
  {% csrf_token %}
  <div class="page-content">
    <div class="card radius-15">
      <div class="card-body">
        <div class="card-title">
          <center>
            <h3 class="mb-0" >TALLY PRIME</h3>
          </center>
        </div>
      </div>
    </div>
    
    <div class="card radius-15">
      <div class="card-body">
        <div class="row mt-4">
      <div class="col-md-4"><h2 style="text-align: left;">Payment No.{{a}} <br> <i>Current balance:</i> </h2></div> 
      <div class="col-md-4"></div>
      <div class="col-md-4"><h2 style="text-align: right;">1 April 2022</h2></div>
    </div> 
        <div id="sales">
          <div class="invoice overflow-auto">
            <div class="row">
             
            </div>
            <div class="row mt-4">
              <div class="col-md-1">Account: 
              </div>
              <div class="col-md-2">
                <select name='particualrs' class="form-control">
                  {% for led in led %}
                
                  <option value="{{led.id}} ">
                    <li>{{led.name}}</li>
                    {% endfor %}
                  </option>
              
                  <option> <li> <a href= ""> Create </a></li></option>
                  

                </select>
              </div>
              <div class="col-md-9">
              </div><br><br><br><br>
              </div>
              
            <div class="row mt-4">
                <div class="table-responsive">
                  
                  
                  <table class="table table-bordered table-hover" id="tab_logic">
                    <thead>
                      <tr>
                        
                        <th class="text-center">Particulars</th>
                        <th class="text-center">Amount</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        
                        <td>
                          <select name='particualrs' class="form-control">
                            {% for led in led %}
                          
                            <option value="{{led.id}} ">
                              <li>{{led.name}}</li>
                              {% endfor %}
                            </option>
                        
                            <option> <li> <a href= ""> Create </a></li></option>
                            
    
                          </select>
                        </td>
                        
                        
                        <td><input type="number" name='amount1' id="amount1" placeholder='0.00' oninput="add_number()" class="form-control" /></td></tr>
                        <tr>
                        
                          <td>
                            <select name='particulars' class="form-control">
                              {% for led in led %}
                            
                              <option value="{{led.id}} ">
                                <li>{{led.name}}</li>
                                {% endfor %}
                              </option>
                          
                              <option> <li> <a href= ""> Create </a></li></option>
                              
      
                            </select>
                          </td>
                          
                          
                          <td><input type="number" name='amount1' id="amount2" onclick="doMath();" oninput="add_number()" placeholder='0.00' class="form-control" /></td>
                          <script>
                            var text1 = document.getElementById("amount1");
                            var text2 = document.getElementById("amount2");
                            function add_number() {
                              var first_number = parseFloat(text1.value);
                              if (isNaN(first_number)) first_number = 0;
                               var second_number = parseFloat(text2.value);
                              if (isNaN(second_number)) second_number = 0;
                              var result = first_number + second_number;
                              document.getElementById("amount3").value = result;
}
                          </script>
                         
                       
                        </tbody></table><div class="row clearfix" style="margin-top:20px">
                          <div class="col-md-7"></div>
                          
                        </div>
                        <div class="row mt-4">
                          <div class="col-md-4">NARRATION: 
                          </div>
                          <div class="col-md-8"><input type="text" class="form-control" name="amount3" id="amount3"name="narration" width="100%" onclick="doMath();" /></div><br><br><br><br>
                          </div>
                          <!--<div class="col-md-2">
                           
                          </div>-->
                        </div>
                        <!--<div class="row mt-3">
                          <div class="col-md-12">
                            <div class="notices">
                              <div class="form-control">--><input class="btn btn-outline-info w-30 rounded-pill text-light" style="text-align: left;" type="button" onclick="newFunction()" value="Delete"><button type="submit" style="float: right;" class="btn btn-outline-info w-45 rounded-pill text-light">
                                Save
                              </button><!--</div>--><br>
                              <div class="notice text-muted">
                                Tally Prime Terms and Conditions Apply
                              </div>
                            </div>
                          <!--</div>-->
                          <!--<div class="col-md-2"></div>
                        </div>-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
              <script>
                function newFunction() {
            document.getElementById("newform").reset();
         }
        
              </script>
              <script type="text/javascript">
                function doMath()
                {
                    // Capture the entered values of two input boxes
                    var my_input1 = document.getElementById('amount1').value;
                    var my_input2 = document.getElementById('amount2').value;

            
                    // Add them together and display
                    var sum = parseInt(my_input1) + parseInt(my_input2);
                    document.getElementbyId('amount3').innerHTML = sum;
                    
                }
            
                </script>
{% endblock %}